# The file is automatically created by the ansible role openstack-horizon
# during the installation of the openstack-dashboard package.

# Please use the "template" module for updates.

# Modifications to this file will be overwritten by the next update.

from openstack_dashboard.settings import *  # noqa: F403, F401
